# Ignore all files
**/*

# Don't ignore folders (unless empty)
!*/

# Include files
!.gitignore
!README.md

# Allowed encrypted files
!**/*.enc.env
!**/*.enc.ini
!**/*.enc.json
!**/*.enc.yaml
!**/*.enc.yml
!**/*.enc
